/* Normalize */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kodchasan';
}

ul li
{
    list-style: none;
}
a 
{
    text-decoration: none;
}
.header
{
    padding: 38px 0;
}
.header .container
{
    width: 1406px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .menu
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.header .container .honeycha
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 40px;
    gap: 24px;
}
.header .container .menu li a
{
    font-size: 18px;
    font-weight: 500;
    color: black;
   
}
.finger .container
{
    display: flex;
    background-image: url(images/finger_glavniy.png);
    width: 1500px;
    height: 865px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30;
    border-left: 50;
    border-top: 100;
    padding: 100 0;
    background-color: linear-gradient(76.02deg, #FF9D2D 1.66%, #FFD877 93.21%);
    ;
}
.finger .container .burchak
{
  padding: 116 0;
  width: 205px;
  height: 321px;
   
    

}
.finger .container .honey
{
    display: flex;
   
    margin: 189px 0 165px;
    width: 1408px;
    height: 611px;
    opacity: 45%;
    color: #FFA638;
    top: 189px;
    left: 128px;
}